.header-outter-div {
  top: 0;
  z-index: 2;
  padding: 15px;
  position: sticky;
  background-color: white;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 20px;
  font-weight: 600;
}

.multiple-button-div {
  max-width: 35%;
}

.header-desc {
  margin-left: 10px;
}